
*.o
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*~
*.plg
*.opt
*.gcno
*.gcda
*.gcov
*.DS_Store

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/


.DS_Store .AppleDouble .LSOverride

*.class

*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.apk
*.dmg
*.gz
*.deb

.depend
.deps/
.dep

#GPAC specific
config.h
include/gpac/revision.h
include/gpac/revision.h.new
extra_lib/
config.mak
configure-stamp
gpac.pc
tests/external_media/
tests/results/
tests/hash_refs/

# nix output
result
