language: c
compiler: gcc
before_install: 
  - sudo apt-get update -qq
install:
  - sudo apt-get install -y pkg-config g++ zlib1g-dev libfreetype6-dev libjpeg62-dev libpng12-dev libopenjpeg-dev libmad0-dev libfaad-dev libogg-dev libvorbis-dev libtheora-dev liba52-0.7.4-dev libavcodec-dev libavformat-dev libavutil-dev libswscale-dev libxv-dev x11proto-video-dev libgl1-mesa-dev x11proto-gl-dev linux-sound-base libxvidcore-dev libssl-dev libjack-dev libasound2-dev libpulse-dev libsdl1.2-dev dvb-apps libavcodec-extra-53 libavdevice-dev libmozjs185-dev
env:
  - GPAC_CONFIGURE_OPTIONS=--disable-all
  - GPAC_CONFIGURE_OPTIONS=
script: 
  - ./configure $GPAC_CONFIGURE_OPTIONS && make
