body {
   padding: 0;
   background-color: #cbcbcb;   
   margin-left: 15px;
   margin-right: 15px;
}

#title {
   font-family: sans-serif; 
   text-align: center;
   margin: 0;
   padding: 0;
   color: #D50751;
   margin-top: 1em;
   margin-bottom: 1em;
}

#content 
{
	width: 95%;
	margin-left: 5px;
	padding-top: 10px;
}

#downloadbar
{
	font-size: 110%;
	text-align: center;
}

#downloadbar li
{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

#downloadbar a:link, #downloadbar a:visited
{
	color: #347879;
	font-weight: bold;
	background-color: transparent;
	text-decoration: none;
}

#downloadbar a:hover, #downloadbar a:active
{
	color: #347879;
	background-color: #fff;
}

h2
{
	background-color: #fff;
}

h3
{
    margin-left: 10px;
	background-color: #fff;
}

#description
{
    width: 48%;
    float: left;
	text-align: left;
    border: 1px;
    border-style: dotted;
    border-color: #0000bb;
}

#contentview embed 
{
    margin-top: 10px; 
    margin-bottom: 10px; 
}

#contentview
{
    border: 1px;
    border-style: dotted;
    border-color: #0000bb;
    width: 50%;
    float: right;
    text-align:center;
}

#snapshotview
{
    clear: both;
}

#codeview
{
    clear: both;
}

#codeview iframe
{
    margin: 0px; 
    height: 300px;
    width: 49%;
}

#category li
{
	display: inline;
	list-style-type: none;
	margin-right: 20px;
}

#nav
{
	text-align: center;
}

#nav li
{
	display: inline;
	list-style-type: none;
	margin-right: 30px;
	margin-left: 30px;
}