Source: gpac
Section: graphics
Priority: optional
Maintainer: Jean Le Feuvre <jeanlf@users.sourceforge.net>
Bugs: mailto:jeanlf@users.sourceforge.net
Homepage: http://gpac.sourceforge.net
Standards-Version: 3.8.0
Build-Conflicts: libgpac-dev
Build-Depends: debhelper (>= 6), libasound2-dev (>= 1.0.15-3ubuntu4 ), libavcodec-dev (>= 3 ), libavutil-dev (>= 3 ), libc6 (>= 2.7-10ubuntu3 ), libc6-dev (>= 2.7-10ubuntu3 ), libc6-i686 (>= 2.7-10ubuntu3 ), libfreetype6-dev (>= 2.3.5-1ubuntu4 ), libjpeg62-dev (>= 6b-14 ), libmad0-dev (>= 0.15.1b-2.1ubuntu1 ), libogg-dev (>= 1.1.3-3ubuntu1 ), libpng12-dev (>= 1.2.15~beta5-3 ), libsdl1.2-dev (>= 1.2.13-1ubuntu1 ), libssl-dev (>= 0.9.8g-4ubuntu3.3 ), libtheora-dev (>= 1.0~beta2-2 ), libvorbis-dev (>= 1.2.0.dfsg-2 ), libwxgtk2.8-dev (>= 2.8.7.1-0ubuntu3 ), libx11-dev (>= 2 ), libxv-dev (>= 2 ), libxvidcore4-dev (>= 2 ), wx2.8-headers (>= 2.8.7.1-0ubuntu3 ), x11proto-core-dev (>= 7.0.11-1 ), x11proto-video-dev (>= 2.2.2-4ubuntu1 ), x11proto-xext-dev (>= 7.0.2-5ubuntu1 ), zlib1g-dev (>= 1 ), liba52-0.7.4-dev (>= 0.7.4-11ubuntu1), libmozjs-dev (>= 1.8.1.16+nobinonly-0ubuntu1), ccache

Package: gpac
Architecture: any
Depends: ${shlibs:Depends}, libgpac0.4.5 (>= 0.4.5)
Description: multimedia framework based on the MPEG-4 Systems standard
 The main development goal is to provide a clean (a.k.a. readable by as many
 people as possible), small and flexible alternative to the MPEG-4 Systems
 reference software (known as IM1 and distributed in ISO/IEC 14496-5). The
 MPEG-4 Reference software is indeed a very large piece of software,
 designed to verify the standard rather than provide a small,
 production-stable software.

Package: libgpac0.4.5
Architecture: any
Provides: libgpac
Depends: ${shlibs:Depends}
Description: multimedia framework based on the MPEG-4 Systems standard
 The main development goal is to provide a clean (a.k.a. readable by as many
 people as possible), small and flexible alternative to the MPEG-4 Systems
 reference software (known as IM1 and distributed in ISO/IEC 14496-5). The
 MPEG-4 Reference software is indeed a very large piece of software,
 designed to verify the standard rather than provide a small,
 production-stable software.

Package: libgpac-dev
Architecture: any
Section: libdevel
Depends: libgpac0.4.5 
Description: multimedia framework based on the MPEG-4 Systems standard
 The main development goal is to provide a clean (a.k.a. readable by as many
 people as possible), small and flexible alternative to the MPEG-4 Systems
 reference software (known as IM1 and distributed in ISO/IEC 14496-5). The
 MPEG-4 Reference software is indeed a very large piece of software,
 designed to verify the standard rather than provide a small,
 production-stable software.
