[Desktop Entry]
Version=1.0
Name=MP4Client
Comment=GPAC Media Player
GenericName=Media Player
Keywords=Media Player
Exec=MP4Client -gui %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/pixmaps/gpac.png
Categories=AudioVideo
MimeType=text/text;text/xml;application/xhtml+xml;application/xml;image/jpeg;image/png;video/webm;video/mp4;video/mpeg;audio/mp4;audio/mpeg;x-scheme-handler/rtsp;x-scheme-handler/rtp;x-scheme-handler/atsc
StartupNotify=true
Actions=new-window

[Desktop Action new-window]
Name=Open a New Window
Exec=MP4Client


