#----------------------------------------------------------------------
#             Configuration File of the mp4 streamer
#----------------------------------------------------------------------
# Usage: time in ms,  bit rate in kbps, port numbers must be even
#----------------------------------------------------------------------
[GLOBAL]
nbSession=2
burst_mode=yes
off_duration=500
burst_duration=500
burst_bitrate=8000

#an IPV4 multicast address
IP_dest=233.64.133.10
#IPV4 loopback (localhost)
#IP_dest=127.0.0.1
#IPV6 multicast loopback
#IP_dest=FF01::1

#IPV6 loopback
#IP_dest=::1

[SESSION1]
port=7000
file=tnt.mp4 
looping=1

[SESSION2]
port=7002
file=av.mp4 
looping=1
