name: Build For Node

on:
  # Manually trigger a rebuild and bump patch version
  workflow_dispatch:

  # On every ABI change, we must rebuild new bindings
  push:
    tags:
      - "abi-*.*"

# Only one distribution workflow can run at a time
concurrency:
  group: "distribution-node"
  cancel-in-progress: false

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  prepare:
    name: Prepare parameters
    runs-on: "ubuntu-latest"
    outputs:
      version: ${{ steps.decide-version.outputs.version }}
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: ${{ github.event_name == 'push' && 1 || 0 }}
          sparse-checkout: "include/gpac/version.h"

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Get the latest ABI version
        id: get-latest-abi
        run: |
          if [[ "${{ github.event_name }}" == "push" && "${{ startsWith(github.ref, 'refs/tags/abi-') }}" == "true" ]]; then
            latest_tag=${{ github.ref_name }}
          else
            git fetch --tags
            latest_tag=$(git tag -l 'abi-*.*' --sort=-creatordate | head -n 1)
          fi
          abi=${latest_tag#abi-}
          amajor=${abi%%.*}
          aminor=${abi#*.}
          aminor=${aminor%%.*}
          echo "Latest ABI tag: $latest_tag"
          echo "ABI major: $amajor"
          echo "ABI minor: $aminor"
          echo "major=$amajor" >> $GITHUB_OUTPUT
          echo "minor=$aminor" >> $GITHUB_OUTPUT

      - name: Get the current published version
        id: get-gpac-version
        run: |
          gpac_version=$(npm view gpac-js version)
          if [ "$?" -ne 0 ]; then
            echo "Failed to fetch gpac-js version from npm!"
            exit 1
          fi
          gpac_major=${gpac_version%%.*}
          gpac_minor=${gpac_version#*.}
          gpac_minor=${gpac_minor%%.*}
          gpac_patch=${gpac_version##*.}
          gpac_patch=${gpac_patch%%+*}
          echo "Current published gpac-js version: $gpac_version"
          echo "major=$gpac_major" >> $GITHUB_OUTPUT
          echo "minor=$gpac_minor" >> $GITHUB_OUTPUT
          echo "patch=$gpac_patch" >> $GITHUB_OUTPUT

      - name: Decide on the new version
        id: decide-version
        run: |
          new_major=${{ steps.get-latest-abi.outputs.major }}
          new_minor=${{ steps.get-latest-abi.outputs.minor }}
          gpac_major=${{ steps.get-gpac-version.outputs.major }}
          gpac_minor=${{ steps.get-gpac-version.outputs.minor }}
          gpac_patch=${{ steps.get-gpac-version.outputs.patch }}

          if [ "$new_major" -gt "$gpac_major" ] || { [ "$new_major" -eq "$gpac_major" ] && [ "$new_minor" -gt "$gpac_minor" ]; }; then
            new_version="$new_major.$new_minor.0"
          else
            gpac_patch=$((gpac_patch + 1))
            new_version="$gpac_major.$gpac_minor.$gpac_patch"
          fi
          echo "New version to publish: $new_version"
          echo "version=$new_version" >> $GITHUB_OUTPUT

  build:
    strategy:
      matrix:
        platform:
          - "ubuntu-latest"
          - "macos-latest"

    name: Build on ${{ matrix.platform }}
    runs-on: ${{ matrix.platform }}
    needs: prepare

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@main

      - name: Install dependencies
        run: brew install --only-dependencies gpac

      - name: Install SWIG
        run: brew install swig

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Install Python dependencies
        working-directory: share/swig
        run: pip install -r requirements.txt

      - name: Configure
        run: ./configure --swig=node

      - name: Build and install
        run: make -j && sudo make install

      - name: Generate bindings
        run: sudo make swig

      - name: Update package version
        working-directory: share/swig/node
        run: npm version ${{ needs.prepare.outputs.version }} --no-git-tag-version

      - name: Package
        working-directory: share/swig/node
        run: sudo ./node_modules/.bin/node-pre-gyp package

      - name: Upload artifact
        working-directory: share/swig/node
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.DIST_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.DIST_SECRET_ACCESS_KEY }}
        run: aws s3 cp --recursive ./build/stage s3://gpac --endpoint-url ${{ secrets.DIST_S3_ENDPOINT }}

  publish:
    name: Publish to npm
    runs-on: "ubuntu-latest"
    needs: [build, prepare]
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Update package version
        working-directory: share/swig/node
        run: npm version ${{ needs.prepare.outputs.version }} --no-git-tag-version

      - name: Build the package
        working-directory: share/swig/node
        run: npm install && npm run build

      - name: Publish to npm
        working-directory: share/swig/node
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm publish --access public --provenance
